# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/

# Local data / caches / bundles
support_bundles/
support_bundles_temp/
*.zip
*.log
last_alert.txt

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets (RECOMMENDED to exclude)
.env

# SQLite (usually exclude; include only if you want DB in git)
data.db

# SQLite temp files
*.db-shm
*.db-wal